page-item-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  ion-card {
    margin-bottom: 2em;
  }

  .item-detail {
    width: 100%;
    background: rgb(40, 33, 150);
    position: absolute;
  }
  ion-col {
    padding: 0.1;
  }
}
